body {
  margin: 0;
  font-family: sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  padding: 0 75px;
}

.logo {
  color: #f9faf8;
  font-size: 24x;
  font-weight: 900;

}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
}

li {
  color: #f9faf8;
}

.section-one {
  display: flex;
  background-color: #1f2937;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.subtext-one {
  color:#f9faf8;
}

.section-one > img {
  height: 250px;
  width: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.section-one-button {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #3882f6;
  border-color: #3882f6;
  border-radius: 10px;
  border-style: solid;
  font-weight: bold;
  flex: auto;
  align-self: flex-start;
}

.left-text {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 10px;
}

.maintext {
  color:#f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.subtext-two {
  color:black;
  text-align: center;
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  gap: 50px;
  margin-top: -50px;
}

.main-sub {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.image-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.image-with-text {
  height: auto;
  width: 150px;
}

.image-with-text > img {
  height: auto;
  width: 150px;
  flex: 1;
  border-color:#3882f6;
  border-style: solid;
  border-radius: 10px;
}

.section-three {
  display: flex;
  flex-direction: column;
  height: 350px;
  background-color: #e5e7eb;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.quote {
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
  width: 750px;
  font-weight: light;
}

.quote-owner {
  color: #1f2937;
  font-weight: bold;
  text-align: right;
}

.section-four{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.sign-up {
  background-color: #3882f6;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
}

.call-to-action-sub {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

button {
  display: inline-block;
}

.call-to-action-main {
  color: white;
  font-weight: bold;
}

.call-to-action-text {
  color: white;
}

.footer {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  height: 50px;
  align-items: center;
  padding: 0 100px;
  color: #f9faf8;
}

.sign-up button {
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  background-color: #3882f6;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  font-weight: bold;
}